@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-palyfair {
    font-family: "Playfair Display", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.immggg{
    background: url("../src/assets/img\ \(7\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.immggg1{
    background: url("../src/assets/img\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}