@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-palyfair {
    font-family: "Playfair Display", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-lato {
    font-family: "Lato", sans-serif;
}

.immggg {
    background: url("/src/assets/img (7).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.immggg1 {
    background: url("/src/assets/img (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.someProImg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-transform: scale(1);
    gap: 8px;
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* .bb:hover{
    transform: scale(1.3);
	transform: scale(1.3);
} */
.someProImg :hover {
    transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}


@media only screen and (max-width: 576px) {
    .someProImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        -webkit-transform: scale(1);
        gap: 8px;
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
}